<!DOCTYPE html>
<html lang="en">
<head>
    <title>Export</title>
    {% load static %}
    <meta charset="utf-8">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.7.0/d3-legend.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    

<!--<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />    -->
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="MainNav">
                <ul class="nav navbar-nav">
                    {% block categories %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'mass_download' %}">Mass Download</a></li>
                        <li><a href="{% url 'generate' %}">Generate</a></li>
                    <li><a href="{% url 'generated_files' %}">Generated Files</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="{% url 'designs' %}">Designs</a></li>
                    <li><a href="{% url 'upload' %}">Upload</a></li>
{#                    <li><a href="{% url 'mass_upload' %}">Mass Upload</a></li>#}
                    {% endblock %}
                    {% if user.is_authenticated %}
                    <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}
    
</body>
</html>

<script type="text/javascript">
  $( document ).ready(function() {
    $('#design_settings').click(function() {
        if($('#design_settings_options').is(":visible")) {
            $('#design_settings_options').hide()
            // $('#search_design').hide()
        }
        else 
        {
            $('#design_settings_options').show()
            // $('#search_design').show()
        }
    })

    $('#check_all').click(function() {
        if($(this).is(":checked")) {
            $('.design_checkbox').prop('checked', true);
        }
        else {
            $('.design_checkbox').prop('checked', false);
        }
        
    })
  });
</script>