{% extends 'base.html' %}

{% block body %}
<div class="container">
  <form class="form-inline" role="form">
    <div class="row text-center">  
      <a href="#" class="btn btn-primary filter-col" id="design_settings">
        Settings
      </a>
    </div>
    <div class="row text-center" style="display: none; margin-top: 10px;" id="design_settings_options">
      Designs per page
      <input type="text" class="form-control" style="width: 100px;" name="designs_per_page" value="{{pagination_number}}">
      <button type="submit" class="btn btn-success filter-col">
        Set number
      </button>
    </div>
  </form>

  <form class="form-inline" role="form">
    <div class="row text-center" style="margin-top: 10px;">
      <select name="account">
        <option {% if not "account" in request.GET %}disabled selected{% endif %}>All accounts</option>
        {% for account in team_accounts %}
          <option value="{{ account.id }}" {% ifequal request.GET.account account.id|stringformat:'i' %}selected{% endifequal %}>{{ account.name }} ({{account.designs_count}})</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-success filter-col" name="select_account">
        <span class="glyphicon glyphicon-search"></span> Select
      </button>
    </div>
    <div class="row" style="margin-top: 10px;">
      <input type="text" class="form-control" style="width: 300px;" name="search_title" placeholder="Title" value="{{search_title}}">
      <button type="submit" class="btn btn-success" name="search_design">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <form method="post" action="{% url 'assign_account' %}">{% csrf_token %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" id="check_all"></th>
          <th>#</th>
          <th>Title</th>
          <th>Seach tags</th>
          <th>Sku</th>
          <th>Account</th>
          <th>Design</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for design in designs %}
        {% if design.docfile %}
        <tr>
          <td><input class="design_checkbox" type="checkbox" name="designs_checkboxes" value={{design.id}}></td>
          <th scope="row">{{design.id}}</th>
          <td>{{design.title}}</td>
          <td>{{design.get_search_tags}}</td>
          <td>{{design.sku_code}}</td>
          <td>{{design.account.name}}</td>
          <td>
            {% if design.docfile %}
              {% if '.tif' in design.docfile.url %}
                <img src = "{{design.get_thumbnail}}" style="max-height: 100px; max-width: 100px;" />
              {% else %}
                <img src = "{{design.docfile.url}}" style="max-height: 100px; max-width: 100px;" />
              {% endif %}
            {% endif %}
          </td>
          <td><a class="btn btn-sm btn-warning" target="_blank" href="/designs/edit/{{design.id}}/">Edit</a></td>
        </tr>
        {%endif%}
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-success filter-col" name="move_designs">
      Move designs
    </button>
    <button type="submit" class="btn btn-success filter-col" name="copy_designs">
      Copy designs
    </button>
    <select name="to_account">
      {% for account in team_accounts %}
        {% ifnotequal request.GET.account account.id|stringformat:'i' %}
          <option value="{{ account.id }}">{{ account.name }}</option>
        {% endifnotequal %}
      {% endfor %}
    </select>

  </form>
  {% if show_pages %}
    <div class="row" style="text-align: center;">
      <div class="pagination">
        <span class="step-links">
            {% if designs.has_previous %}
                <a href="?page={{ designs.previous_page_number }}{{account_text}}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ designs.number }} of {{ designs.paginator.num_pages }}.
            </span>

            {% if designs.has_next %}
                <a href="?page={{ designs.next_page_number }}{{account_text}}">next</a>
            {% endif %}
        </span>
      </div>
      <div>
        <a class="btn btn-lg btn-success" href="?page=show_all{{account_text}}">Show All</a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}