{% extends 'base.html' %}

{% block body %}

    <form action="/designs/update/{{ design.id }}/" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                {% if design.docfile %}
                    {% if '.tif' in design.docfile.url %}
                        <img src="{{ design.get_thumbnail }}" style="max-height: 100px; max-width: 100px;"/>
                    {% else %}
                        <img src="{{ design.docfile.url }}" style="max-height: 100px; max-width: 100px;"/>
                    {% endif %}
                {% endif %}
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Title</label>
                    <input class="form-control" id="id_title" name="title" type="text" value="{{ design.title }}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Search tags</label>
{#                    {{ form.search_tags }}#}
                    <textarea class="form-control" id="id_search_tags" name="search_tags" type="text">{{ design.search_tags }}</textarea>
                </div>
            </div>

            <div class="row">
                <input type="submit">
            </div>
        </div>
    </form>
{% endblock %}