{% extends 'base.html' %}
{% block body %}
    <div class="container">
        {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% for generation in generations %}
            <div class="row">
                <b>{{ generation.created_at }} ({{ generation.completed_rows }}/{{ generation.total_rows }} designs completed. Failed: <span {% if generation.failed_rows > 0 %}style="color: red"{% endif %}>{{ generation.failed_rows }}</span>)</b>{% if generation.failed_designs|length > 0 %} <a href="{% url 'failed_designs' generation_id=generation.id %}">Failed desings</a>{% endif %}
                <a href="{% url 'delete_batch' batch_id=generation.id %}">delete</a>
                {% if not generation.generated %}
                    <div style="color: red;">GENERATING</div>
                {% endif %}
            </div>
            {% if generation.uk_files %}
                <div class="row">
                    UK FILES
                </div>
                {% for file in generation.uk_files %}
                    <div class="row">
                        <!-- <a href="{{file.file_path}}" download>{{file.file_name}}</a> -->
                        <a href="{{ file.file_path }}" download>{{ file.file_name }}</a>
                    </div>
                {% endfor %}
            {% endif %}


            {% if generation.de_files %}
                <div class="row">
                    DE FILES
                </div>
                {% for file in generation.de_files %}
                    <div class="row">
                        <!-- <a href="{{file.file_path}}" download>{{file.file_name}}</a> -->
                        <a href="{{ file.file_path }}" download>{{ file.file_name }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if generation.fr_files %}
                <div class="row">
                    FR FILES
                </div>
                {% for file in generation.fr_files %}
                    <div class="row">
                        <!-- <a href="{{file.file_path}}" download>{{file.file_name}}</a> -->
                        <a href="{{ file.file_path }}" download>{{ file.file_name }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if generation.es_files %}
                <div class="row">
                    ES FILES
                </div>
                {% for file in generation.es_files %}
                    <div class="row">
                        <!-- <a href="{{file.file_path}}" download>{{file.file_name}}</a> -->
                        <a href="{{ file.file_path }}" download>{{ file.file_name }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if generation.it_files %}
                <div class="row">
                    IT FILES
                </div>
                {% for file in generation.it_files %}
                    <div class="row">
                        <!-- <a href="{{file.file_path}}" download>{{file.file_name}}</a> -->
                        <a href="{{ file.file_path }}" download>{{ file.file_name }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if generation.noname_files %}
                <div class="row">
                    UNKNOWN FILES
                </div>
                {% for file in generation.noname_files %}
                    <div class="row">
                        <!-- <a href="{{file.file_path}}" download>{{file.file_name}}</a> -->
                        <a href="{{ file.file_path }}" download>{{ file.file_name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
            <br/>
        {% endfor %}
    </div>
{% endblock %}