{% extends 'base.html' %}
{% block body %}
<div class="container">
  <form action = "{% url 'generate' %}" method="post">
  {% csrf_token %}
    <div class="row">
      <div class="form-group col-lg-2">          
        <div class="input-group date" id="id_date_from_picker">
          <input class="form-control" id="id_date_from" name="date_from" type="text"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>  
      </div>
    </div>

    <script>
      jQuery('#id_date_from').datetimepicker({
        format:'Y-m-d H:i',
      });
    </script>
    <div class="row">
      <div class="form-group col-lg-6">
        <select class="form-control" name="accounts1" id="id_myselect">
          {% for account in accounts %}
              <option value="{{ account.id }}">{{ account.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-6">
        <input class="form-control" id="id_comment" maxlength="250" name="comment" placeholdeR="Comment.." type="text" />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-2">
        <input id="id_black_only" name="black_only" type="checkbox" /> Black only
      </div>
    </div>

    {% for product in products %}
        <h3>{{ product.title }}</h3>
        <p><i>{{ product.meta_description }}</i></p>
        {% for color_variation in product.color_variations %}
            <div class="checkbox">
                <label for="id_variations_{{color_variation.id}}"><input id="id_variations_{{color_variation.id}}" name="variations" type="checkbox" value="{{color_variation.id}}" /> {{color_variation.color_name}} </label>
            </div>
        {% endfor %}
    {% endfor %}

    <input type="submit" class="btn btn-success" name="generate1" value="Generate!">
    <input type="submit" class="btn btn-success" name="generate2" value="Generate Test!">
        
  </form>
</div>

{% endblock %}