{% extends 'base.html' %}

{% block body %}
  {% for error in errors %}
  <div class="row">
    <div class="col-sm-6">
      {{error.design.title}}
    </div>
    <div class="col-sm-2">
      {{error.design.sku_code}}
    </div>
    <div class="col-sm-2">
      <!-- <img src = "/media/designs/{{design.filename}}" style="max-height: 100px;" /> -->
      <img src = "{{error.design.docfile.url}}" style="max-height: 100px;" />
    </div>
  </div>
  {% endfor %}

{% endblock %}