{% extends 'base.html' %}

{% block body %}

<form action="/" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="container">
{#    {% if design %}#}
{#      <div class="row">#}
{#        <div class="col-md-12">#}
{#          {{design.sku_code}} - {{design.title}}#}
{#        </div>#}
{#        <img src="{{design.docfile.url}}" style="max-width: 400px;"/>#}
{#      </div>#}
{#    {% elif message %}#}
{#      {{message}}#}
{#    {%endif%}#}

    <div class="row">
        <div class="form-group col-xs-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <hr>
                <button type="submit" class="btn btn-success">Find</button>
            </form>
{#            <label>Search SKU</label>#}
{#            <input class="form-control" id="sku-id" name="sku_id" type="text" />#}
        </div>
    </div>

{#    <input type="submit" class="btn btn-success" value="Find design">#}
  </div>
</form>
{% endblock %}