{% extends 'base.html' %}

{% block body %}

    <form action="" method="POST">
    {% csrf_token %}
    <div class="container">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>SKUs</label>
                    {{ form.skus }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <input class="btn btn-success" type="submit">
                </div>
            </div>
        </div>
    </form>
{% endblock %}