{% extends 'base.html' %}

{% block body %}

    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Select Account</label>
                    {{ form.account }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Select Zip File</label>
                    {{ form.file }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <input class="btn btn-success" type="submit">
                </div>
            </div>
        </div>
    </form>
{% endblock %}