{% extends 'base.html' %}

{% block body %}

    <form action="/upload/" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label>Account</label>
                    {{ form.accounts1 }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Title</label>
                    {{ form.title }}
                </div>

                <div class="form-group col-xs-4">
                    <label>Search Query</label>
                    {{ form.search_query }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Search tags</label>
                    {{ form.search_tags }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Select Images</label>
                    {{ form.file }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <input class="btn btn-success" type="submit">
                </div>
            </div>
        </div>
    </form>
{% endblock %}