{% extends 'base.html' %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <input type="checkbox" name="parent" value="1"> With parent?<br>
    <button type="submit">Upload</button>
</form>

{% endblock %}
